footer {
<<<<<<< HEAD
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
=======
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
>>>>>>> c4eecf554652774b349986992c6f6f04ffc98ba4
