<<<<<<< HEAD
/* Folha de Estilização para Galeria de Imagens */

body{
=======
/* Folha de Estilização para Galeria de Imagens  */

bpdy{
>>>>>>> abdf3065d74627a4a9512910110adefd785bb9fb
    font-family: Comic Sans MS;
    text-align: center;
    background-color: aliceblue;
}

.container{
<<<<<<< HEAD
    width: 60;
=======
    width: 60%;
>>>>>>> abdf3065d74627a4a9512910110adefd785bb9fb
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 15px;
}

input{
    margin: 10px;
}

#addImagem{
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
<<<<<<< HEAD
    background-color: aqua;
=======
    background-color: dodgerblue;
>>>>>>> abdf3065d74627a4a9512910110adefd785bb9fb
    color: white;
}
#addImagem:hover{
    background-color: blue;
}

<<<<<<< HEAD
/* Imagens da Galeria */
=======
/* imagens da galeria */
>>>>>>> abdf3065d74627a4a9512910110adefd785bb9fb
#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.card{
    position: relative;
    margin: 10px;
}

.card img{
<<<<<<< HEAD
    width: 15px;
=======
    width: 150px;
>>>>>>> abdf3065d74627a4a9512910110adefd785bb9fb
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.remove{
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    color: aliceblue;
    border: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 100%;
}
<<<<<<< HEAD
 .remove:hover{
    background-color: red;
 }

/* CSS do Carrossel */
#CarrosselContainer{
    width: 300px;
    height: 200px;
=======

.remove:hover{
    background-color: red;
}

/* Css do Carrossel */
#carrosselContainer{
    width: 300px; 
    height: 200px; 
>>>>>>> abdf3065d74627a4a9512910110adefd785bb9fb
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 2px solid #ccc;
}

#carrossel{
    display: flex;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    transition: transform 0.5s ease-in-out;
=======
>>>>>>> abdf3065d74627a4a9512910110adefd785bb9fb
}

#carrossel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

